{% macro render_field_with_errors(field) %}
  <p>
    <!-- {{ field.label }}--> {{ field(**kwargs)|safe }} 
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </p>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}
