{% extends "layouts/layout1.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block content %}
  <div class="container">
  <h1>Login</h1>
  
  <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    <div class="app-page-space"></div>
    {{ login_user_form.hidden_tag() }}
    <h4>User-Token</h4>
    {{ render_field_with_errors(login_user_form.email, class="form-control") }}
    <h4>Password</h4>
    {{ render_field_with_errors(login_user_form.password, class="form-control") }}
    
    {{ render_field(login_user_form.next) }}
    {{ render_field(login_user_form.submit, class="btn btn-primary") }}
  </form>

  </div>

{% endblock %}