{% extends "layouts/layout1.html" %}

{% block content %}

<div id="app-page-space"></div>

        <!-- <div class="row">
            <div class="col-md-12">
                <h3>Sample Handover Message: </h3> <h4>{{ video["sample_anno"] }}</h4>
            </div>
        </div> -->

        <!-- Table and Media Annotation Row  -->
        <div class="row">
            <div class="container">
            <div class="col-md-4 themed-grid-col">
                <table class = "table form-all table-condensed">
                    <thead>
                        <tr>
                          <th> <h5><b>Attribute : Value</b></h5> </th>
                        </tr>
                      </thead>
                    <tbody>
                      {% for av in video["att_val"] %}
                      
                        <tr>
                            <td>{{ av }}</td>
                        </tr>
                      
                      {% endfor %}
                    </tbody>
                  </table>
            </div>

            <div class="col-md-8">
                <iframe id="demo-vid" width = 91% height = 400px src ={{ video["video"] }} frameborder = "0" allow = "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
        </div>
        

        
    
        <div class="app-page-space"> .</div>
        <div class="app-page-space"> .</div>
        
        <div class="container">

            <div class="row">
                <div class="col-md-12 themed-grid-col">
                    <form method="POST" class="form-all">
                        <div class="form-group">
                        <label for="annotate"><h4><b>Handover Message:</b></h4></label>
                        <h5><em>Sample Handover Message</em> : {{ video["sample_anno"] }}</h5>
                        <input type="text" class="form-control" placeholder="Handover message" id="annotate" name="annotate">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>  
                </div>
                
            </div>
        </div>
   
 
{% endblock %}