{% extends "layouts/layout1.html" %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><u><b>Before You Begin:</b></u></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Please only participate if you</h3>
          <ul>
              <li><h4>Are a native English speaker</h4></li>
              <li><h4>Have no reading disability</h4></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3><b>Legal information: </b></h3> <h4>This experiment is being conducted as part of ongoing research at Saarland University. If you have any questions or comments about the study, please contact us. You must be at least 18 years old to participate. Your participation in this research is voluntary. There are no risks or benefits to participating in this study. You may decline to answer any or all of the following questions. You may decline further participation, at any time, without adverse consequences. All data will be anonymized prior to analysis.</h4>
          
        </div>
      </div>

      <hr>
        
      <div class="row">
        <div class="col-md-6">
            <h4>If you agree to participate, please click on 'Next'.</h4>
        </div>

        
        <div class="col-md-6">
            <a class="btn btn-primary" href="/instructions" role="button" style="float:right">Next</a>
        </div>
      </div>


    
    </div> 



<!-- 
    <div>
      <h1 id="intro-h1">Interested? <a href="/app" style="color: white;">Try It Yourself!</a></h1>
    </div> -->

    <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="../static/js/vendor/bootstrap.min.js"></script>

        <script src="../static/js/main.js"></script>
        
{% endblock %}