{% extends "layouts/layout1.html" %}
{% block content %}

<div class="container">



  <div class="row">
    <div class="col-md-12">
      <h3>Your task is to come up with a handover <em><b>message</b></em> in two drone scenarios. 
        A handover message is needed in the context of autonomous driving, where a semi-autonomous vehicle may have to hand back control of the car to a (potentially distracted) human within a few seconds.
        
        
        The <em><b>message</b></em> will need to inform the pilot of the <em><b>situation</b></em> of the drone so as to ensure a safe handover. Sufficient information needs to be provided in the message so that the drone pilots know how best to continue.
        </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Each annotation page is provided the following:</h3>
      <ul>
          <li><h4>A <em>miniclip</em> of an auto-piloting drone</h4></li>
          <li><h4>A <em>table description</em> of the scenario</h4></li>
          <li><h4>A <em>sample handover message</em> that is to be re-written</h4></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Annotation for each scenario should not last more than <em>1 minute</em>, and try to use as much information as possible from the table description. You are also encouraged to be creative in your writing. 

      </h3>
      
    </div>
  </div>


<div class="col-md-12">
  <a class="btn btn-primary" href="/begin" role="button" style="float:right">Begin</a>
</div>

</div>

     <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
      {% endif %}
  {% endwith %} -->

    <!-- /container -->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="../static/js/vendor/bootstrap.min.js"></script>
{% endblock %}