{% extends "layouts/layout1.html" %}
{% block content %}

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
          <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

    <div class="col-md-12">
        <form method="POST">
            <div class="form-group">
            <label for="token">Token:</label>
            <input type="text" class="form-control" placeholder="token" id="token" name="token">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</div>



    <!-- /container -->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="../static/js/vendor/bootstrap.min.js"></script>
{% endblock %}