{% extends "layouts/layout1.html" %}
{% block content %}


<div class = "col-md-12">
  <div class ="app-page-space"></div>
  ‎ ‎
    <table class = "table form-all">
      <thead>
        <tr>
          <th>Video</th>
          <th>Handover Message</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for dict_item in user_annotations %}
        
          <tr>
              <td>{{ dict_item["video"] }}</td>
              <td>{{ dict_item["annotation"] }}</td>
              <td>{{ dict_item["time"] }}</td>
          </tr>
        
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class = container>
    <h2>Click <a href="/retrieve_data_json" style="color: black;"><u>here</u></a> for the JSON object of this table.</h2>
    <h2>To clear this table click <a href="/clear_data" style="color: red;"><u>here</u></a></h2>
  </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="../static/js/vendor/bootstrap.min.js"></script>
{% endblock %}