{% extends "layouts/layout1.html" %}
{% block content %}

<div class="jumbotron">
    <div class="container">
      <h1>Thank you for participating!</h1>
      <h2>Click <a href="https://app.prolific.co/submissions/complete?cc=43FC868E" style="color: black;"><u>here</u></a> to finish.</h2>
    </div>
</div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="../static/js/vendor/bootstrap.min.js"></script>
{% endblock %}