<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href= "../static/css/new-style.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body class = "gradeCenter-style">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">About</a>
          <a class="navbar-brand" href="/app">Train</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          -->
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
  <!--<div class="jumbotron">
      <div class="container">
        <h1>A Neural, Interactive-predictive System for Multimodal Sequence to Sequence Tasks</h1>
        <p>Ernie (Ernie's last name), (Ernie's Partner), (Possibly other People), Jeriah Caplinger</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  -->

    <div class="container">
      <!-- Example row of columns -->
  <!--    <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    -->


    <!--Table-->
    <!--  
    <div class = "container">
        <div class = "page-header">
          <h1>{{ pageheader }}</h1>

        </div>
     <div class = "row">
        <div class = "row">
          <div class = "col-md-12">
            <table class = "table table-striped">
              <thead>
                <tr>
                  <th>Grade ID</th>
                  <th>Grade</th>
                  <th>Exercise Name</th>
                  <th>Exercise Due Date</th>
                </tr>
              </thead>
              <tbody>
                  {% for grade in grades %}
                  <tr>
                      <td>{{  grade.gradeID  }}</td>
                      <td>{{  grade.grade  }}</td>
                      <td>{{  grade.exerciseName  }}</td>
                      <td>{{  grade.exerciseDueDate}}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
     </div>
    </div>
  -->

    <div class="page-header">
      <h1>Upload Training Data</h1>
    </div>


      <div class="center-style"> 
        
          <form method="POST" enctype=multipart/form-data> 
            <input type = file name = file>
            <input type = submit value = Upload> 
          </form> 
      </div>

      <div class = "page-header">
          <h2>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
          </h2>

        </div>

<!--Add sentences-->
<div class="row"> 

  <div class="col-md-8"> 

      <form method="POST" id="add_sent"> 

          <div class="form-group"> 

              <label>Add a Sentence</label> 

              <input type="text" class="form-control-style" placeholder="write your sentence here" name="sent_inst"> 

          </div> 

          <button type="submit" class="btn btn-default">Submit</button> 

      </form> 

  </div>






  <div class = "row">
    <div class = "row">
      <div class = "col-md-12">
        <table class = "table table-striped">
          <thead>
            <tr>
              <th>Sentences</th>
            </tr>
          </thead>
          <tbody>
              {% for sent in sentences %}
              <tr>
                  <td>{{  sent.sent  }}</td>
                  <td>
                    <form method="POST" id="deletion">
                      <input type = "hidden" value="{{ sent.id }}" name = "del_inst">
                      <button type = "submit" class = "btn btn-default">delete</button>
                    </form>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
 </div>










    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="../static/js/vendor/bootstrap.min.js"></script>

        <script src="../static/js/main.js"></script>
    </body>
</html>
